<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hey there fruity!</title>
    </head>
    <body>
        
        <img src="" alt="">
        <br>
        <form action="greet" method=""post>
            {% for message in get_flashed_messages() %}
                <p>{{ message }}</p>
            {% endfor %}
            <br>
            <input type="text" name="name" id="name">
            <br>
            <input type="submit" value="Greeting" id="greeting">
        </form>
    </body>
</html>